<link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">

<section id="contact" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
      <div class="container">

      	<div class="contact-section contact-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Our Amazing Team</h2>
            </div>
            <div>
	        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">This is the best combination.</h3>
	        </div>
        </div>

		<div fxLayout="column" fxLayoutWrap="nowrap" fxLayoutGap="10%">
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutAlign="center center" fxLayoutGap="0%">
				<div fxFlex="20%">
					<div fxLayout="column" fxLayoutAlign="center center">
						<mat-card class="team-card" id="first"> </mat-card>
						<span fxFlex="30px"></span>
						<h2 class="contact-name">Büşra Büyükgebiz</h2>
						<p class="contact-text">DEVELOPER</p>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutAlign="center center">
							  <div class="example-button-container">
								<button style="background-color: #ff685a;" mat-mini-fab >
									<i class="fab fa-github " style="color:white;"></i>
								</button>
							  </div>
							  <span fxFlex="10px"></span>
							  <div class="example-button-container">
								<button color="basic" mat-mini-fab >
									<i class="fab fa-linkedin " style="color:#ff685a;" ></i>
								</button>
							  </div>
							  <span fxFlex="10px"></span>
							  <div class="example-button-container">
								<button style="background-color: #ff685a;" mat-mini-fab >
									<i class="far fa-envelope " style="color:white;" ></i>
								</button>
							  </div>
						</div>
					</div>
				</div>
	
				<div fxFlex="20%">
					<div fxLayout="column" fxLayoutAlign="center center">
						<mat-card class="team-card" id="second"> </mat-card>
						<span fxFlex="30px"></span>
						<h2 class="contact-name">Mert Aslan</h2>
						<p class="contact-text">DEVELOPER</p>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutAlign="center center">
							<div class="example-button-container">
							  <button style="background-color: #ff685a;" mat-mini-fab >
								  <i class="fab fa-github " style="color:white;"></i>
							  </button>
							</div>
							<span fxFlex="10px"></span>
							<div class="example-button-container">
							  <button color="basic" mat-mini-fab >
								  <i class="fab fa-linkedin " style="color:#ff685a;" ></i>
							  </button>
							</div>
							<span fxFlex="10px"></span>
							<div class="example-button-container">
							  <button style="background-color: #ff685a;" mat-mini-fab >
								  <i class="far fa-envelope " style="color:white;" ></i>
							  </button>
							</div>
						</div>
					</div>
				</div>
	
				<div fxFlex="20%">
					  <div fxLayout="column" fxLayoutAlign="center center">
						<mat-card class="team-card" id="third"> </mat-card>
						<span fxFlex="30px"></span>
						<h2 class="contact-name">Yüce Hasan Kılıç</h2>
						<p class="contact-text">DEVELOPER</p>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutAlign="center center">
							<div class="example-button-container">
							  <button style="background-color: #ff685a;" mat-mini-fab >
								  <i class="fab fa-github" style="color:white;"></i>
							  </button>
							</div>
							<span fxFlex="10px"></span>
							<div class="example-button-container">
							  <button color="basic" mat-mini-fab >
								  <i class="fab fa-linkedin" style="color:#ff685a;" ></i>
							  </button>
							</div>
							<span fxFlex="10px"></span>
							<div class="example-button-container">
							  <button style="background-color: #ff685a;" mat-mini-fab >
								  <i class="far fa-envelope" style="color:white;" ></i>
							  </button>
							</div>
						</div>
					</div>
				</div>
				<div fxFlex="20%">
					  <div fxLayout="column" fxLayoutAlign="center center">
						<mat-card class="team-card" id="fourth"> </mat-card>
						<span fxFlex="30px"></span>
						<h2 class="contact-name">Ozan Aydın</h2>
						<p class="contact-text">DEVELOPER</p>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutAlign="center center">
							<div class="example-button-container">
							  <button style="background-color: #ff685a;" mat-mini-fab >
								  <i class="fab fa-github" style="color:white;"></i>
							  </button>
							</div>
							<span fxFlex="10px"></span>
							<div class="example-button-container">
							  <button color="basic" mat-mini-fab >
								  <i class="fab fa-linkedin" style="color:#ff685a;" ></i>
							  </button>
							</div>
							<span fxFlex="10px"></span>
							<div class="example-button-container">
							  <button style="background-color: #ff685a;" mat-mini-fab >
								  <i class="far fa-envelope" style="color:white;" ></i>
							  </button>
							</div>
						</div>
					</div>
				  </div>
	
				<div fxFlex="20%">
					  <div fxLayout="column" fxLayoutAlign="center center" >
						<mat-card class="team-card" id="fifth"> </mat-card>
						<span fxFlex="30px"></span>
						<h2 class="contact-name">Burak Okumuş</h2>
						<p class="contact-text">DEVELOPER</p>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutAlign="center center">
							<div class="example-button-container">
							  <button style="background-color: #ff685a;" mat-mini-fab >
								  <i class="fab fa-github" style="color:white;"></i>
							  </button>
							</div>
							<span fxFlex="10px"></span>
							<div class="example-button-container">
							  <button color="basic" mat-mini-fab >
								  <i class="fab fa-linkedin" style="color:#ff685a;" ></i>
							  </button>
							</div>
							<span fxFlex="10px"></span>
							<div class="example-button-container">
							  <button style="background-color: #ff685a;" mat-mini-fab >
								  <i class="far fa-envelope" style="color:white;" ></i>
							  </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
      </div>
</section>
