<section id="heading" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">	
          <div class="heading-section" fxLayout="column" fxLayoutAlign="center left">
              <div class="animation-sec" [class.animated]="isHeading" [class.fadeInLeft]="isHeading">
              <h1 [ngStyle.xs]="{'font-size': '32px'}" [ngStyle.sm]="{'font-size': '42px'}">HERE!</h1>
              </div>
              <div class="animation-sec" [class.animated]="isSubheading" [class.fadeInRight]="isSubheading">
              <h2 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Educational Video Conference Platform</h2>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" [class.animated]="isHeadingBtn" [class.fadeIn]="isHeadingBtn" [class.heading-btn]="isHeadingBtn">
                  <a class="heading-button-left" mat-flat-button (click)="openRegisterDialog()">Sign up for free</a>
                  <a class="heading-button-right" mat-stroked-button (click)="openLoginDialog()">Sign in</a>
              </div>
          </div>
     </div>
  </section>
  