<mat-card class="example-card">
  <mat-card-content id="buttons">
    <div id="toolsSection" align="start">
        <button mat-raised-button (click)="openTA('Text will appear here')">TRY</button>
        <button (click)="captureVideo()" mat-raised-button color="primary">Capture snaphot</button>
        <button mat-icon-button class="toolButton" id="" >
            <mat-icon id="camIcon">radio_button_checked</mat-icon>
        </button>
        <button mat-icon-button class="toolButton" id="" >
            <mat-icon id="chatIcon">chat_bubble</mat-icon>
        </button>
        <button mat-icon-button class="toolButton" id="" 
            #noteTrigger="matMenuTrigger" 
            [matMenuTriggerFor]="note" >
            <mat-icon id="taIcon">note</mat-icon>
        </button>
        <mat-menu [hasBackdrop]="false" #note="matMenu" class="note-content">
            <mat-card class="note-card" (click)="$event.stopPropagation();">
                <mat-card-title>Note</mat-card-title>
                <mat-card-content class="overlay">
                </mat-card-content>
            </mat-card>
        </mat-menu>
        <button mat-icon-button class="toolButton" id="" (click)="startVideo()">
            <mat-icon id="taIcon">videocam</mat-icon>
        </button>
        <button mat-icon-button class="toolButton" id="" >
            <mat-icon id="taIcon">mic</mat-icon>
        </button>
        <button mat-icon-button class="toolButton" id="" (click)="startShare()">
            <mat-icon id="taIcon">screen_share</mat-icon>
        </button>
        <button mat-icon-button class="toolButton" id="" (click)="startSlide()">
            <mat-icon id="taIcon">group</mat-icon>
        </button>
        <button mat-icon-button class="toolButton" id="" >
            <mat-icon id="taIcon">exit_to_app</mat-icon>
        </button>
    </div>
    <div align="end">
        <button 
        #taTrigger="matMenuTrigger" 
        [matMenuTriggerFor]="taNotification" 
        mat-icon-button 
        id="taButton"
        [matBadge]="taOn ? '!' : null" matBadgeSize="large" matBadgePosition="before" >
        <mat-icon id="taIcon">face</mat-icon>
        </button>
        <mat-menu [hasBackdrop]="false" #taNotification="matMenu" class="ta-content">
            <mat-card class="ta-card">
                <mat-card-title>TA</mat-card-title>
                <mat-card-content class="overlay"></mat-card-content>
            </mat-card>
        </mat-menu>
    </div>
</mat-card-content>
</mat-card>

<mat-grid-list class="middle-panel" cols="8" rowHeight="25vh" [gutterSize]="'10px'">
    <mat-grid-tile [colspan]="!slideOn ? 0 : shareOn ? 4 : 6 " [rowspan]="!slideOn ? 0 : shareOn ? 2 : 3">
        <mat-grid-tile-header>Shared Slide</mat-grid-tile-header>
        <!-- Will be implemented -->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="!shareOn ? 0 : slideOn ? 4 : 6 " [rowspan]="!shareOn ? 0 : slideOn ? 2 : 3">
        <mat-grid-tile-header>Shared Screen</mat-grid-tile-header>
        <video id="shared-screen" autoplay></video>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="shareOn && slideOn ? 8 : shareOn || slideOn ? 2 : 8" [rowspan]="shareOn && slideOn ? 1 : 3">
        <mat-grid-tile-header>Participants</mat-grid-tile-header>
        <div class="remote-videos"></div>
    </mat-grid-tile>
    <!-- <mat-grid-tile colspan=2>
        <mat-grid-tile-header>Video of Host</mat-grid-tile-header>
        <div>        
            <video id="host-video" muted autoplay></video>
        </div>
    </mat-grid-tile> -->
</mat-grid-list>
