<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form class="login-form" *ngIf="loginForm" [formGroup] = "loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            required
            [(ngModel)]="email"
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            required
            type="password"
            [(ngModel)]="password"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </mat-card-content>

      <button
        mat-stroked-button
        class="btn-block"
      >
        Login
      </button>
    </form>
  </mat-card>
</div>
