
mat-grid-list
    margin: 20px
    
mat-grid-tile 
    background-color: rgba(255,255,255, 1)

app-schedule-table
    width: 90%

mat-grid-tile-header
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 300
    font-size: 20px !important
    color: white !important
    background-color: rgba(255, 104, 90, 0.89) !important//rgb(75, 83, 188) !important

mat-icon
    font-size: 25px !important

body 
    background-color: #F5F5F5

#notes
    font-size: 18px !important
    font-weight: 300
    background-color: rgba(234, 148, 0, 0.68) !important
