
mat-grid-list
    margin: 20px
    
mat-grid-tile 
    background-color: rgba(255,255,255, 1)

app-schedule-table
    width: 90%

mat-grid-tile-header
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 500
    font-size: 16px !important
    color: white !important
    background-color: rgb(75, 83, 188) !important

mat-icon
    font-size: 25px !important

body 
    background-color: #F5F5F5
