<mat-grid-list cols="8" [gutterSize]="'10px'" rowHeight="6rem">
  <mat-grid-tile class="mat-elevation-z6" colspan="6" rowspan="4">
    <mat-grid-tile-header> Weekly Schedule </mat-grid-tile-header>
    <app-schedule-table ></app-schedule-table>
  </mat-grid-tile>

  <mat-grid-tile class="mat-elevation-z4" colspan="2" rowspan="4">
    <mat-grid-tile-header > <mat-icon style="color:white;" aria-hidden="false">access_alarm</mat-icon> Upcoming Classes </mat-grid-tile-header>
      <mat-list>
        <div *ngFor="let c of upcomingClasses" class="upcoming-classes">
          <mat-list-item>
            <button mat-raised-button class="upcoming-btn">
              {{ c.code }} {{ c.name }}
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
  </mat-grid-tile>
</mat-grid-list>
