<div mat-dialog-content>
<div class="note-wrapper">
    <canvas id="can" width="400" height="400" style="border:2px solid;"></canvas>
    <div >
        <h3>Choose Color</h3>
        <div style="width:10px;height:10px;background:green;" id="green" (click)="color($event)"></div>
        <div style="width:10px;height:10px;background:blue;" id="blue" (click)="color($event)"></div>
        <div style="width:10px;height:10px;background:red;" id="red" (click)="color($event)"></div>
        <div style="width:10px;height:10px;background:yellow;" id="yellow" (click)="color($event)"></div>
        <div style="width:10px;height:10px;background:orange;" id="orange" (click)="color($event)"></div>
        <div style="width:10px;height:10px;background:black;" id="black" (click)="color($event)"></div>
    </div>
    <div >Eraser</div>
    <div style="width:15px;height:15px;background:white;border:2px solid;" id="white" (click)="color($event)"></div>
    <img id="canvasimg" style="display:none;">
    <input type="button" value="save" id="btn" size="30" (click)="save()" >
    <input type="button" value="clear" id="clr" size="23" (click)="erase()" >
    <input type="button" value="addtext" id="txt" size="23" (click)="addtext()" >
    <input type="button" value="draw" id="drw" size="23" (click)="draw2()" >
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</div>