.action-btns
    display: flex

.action-btns button
    flex: 1

.color-btn
    margin-bottom: 10px
    width:  10px
    height: 25px
    flex-direction: column
    flex: 1 1 auto

.main-canvas
    margin-right: 15px

.note-wrapper
    height: 100%
    width: 100%
    display: inline-flex

.tools
    display: flex
    flex-direction: column