<div mat-dialog-content>
<div class="note-wrapper">
    <canvas class="main-canvas" id="can" style="border:2px solid;"></canvas>
    <div class="tools">
        <h3>Choose Color</h3>
        <button mat-raised-button class="color-btn" style="background:green;" id="green" (click)="color($event)"></button>
        <button mat-raised-button class="color-btn" style="background:blue;" id="blue" (click)="color($event)"></button>
        <button mat-raised-button class="color-btn" style="background:red;" id="red" (click)="color($event)"></button>
        <button mat-raised-button class="color-btn" style="background:yellow;" id="yellow" (click)="color($event)"></button>
        <button mat-raised-button class="color-btn" style="background:orange;" id="orange" (click)="color($event)"></button>
        <button mat-raised-button class="color-btn" style="background:black;" id="black" (click)="color($event)"></button>
        <button mat-raised-button class="color-btn" style="background:white;border:2px solid;" id="white" (click)="color($event)"></button> <!-- eraser -->
    </div>
</div>
</div>
<div mat-dialog-actions class="action-btns">
    <button mat-raised-button value="save" id="btn" (click)="save()" >Save</button>
    <button mat-raised-button value="clear" id="clr" (click)="erase()" >Clear</button>
    <div #textIcon class="dialog-btn-wrapper"><button mat-raised-button value="addtext" id="txt" (click)="addtext()" >Add Text</button></div>
    <button mat-raised-button value="slide" id="drw" (click)="slideSnip()" >Slide Snip</button>
    <button mat-raised-button value="screen" id="drw" (click)="screenSnip()" >Screen Snip</button>
    <button mat-raised-button color="warn" (click)="close()">Close</button>
</div>