.action-btns
    display: flex
    color: black

.action-btns button
    margin-left: 4px
    margin-right: 4px

.action-btns div
    margin-left: 4px
    margin-right: 4px

.color-btn
    margin-bottom: 5px
    width:  20px !important
    height: 20px

.dialog-btn-wrapper
    display: inline-flex

.main-canvas
    display: flex

.note-wrapper
    height: 100%
    width: 100%
    display: inline-flex

#erase
    font-size: 20px

#clr
    font-size: 20px

.material-icons
    color: black

.mat-raised-button:hover
    background-color: lightgray



#gap
    flex: 1 1 auto