<mat-toolbar class="navigation-toolbar" [class.mat-elevation-z2]="!isActive && this.loggedIn" [class.mat-elevation-z0]="!isActive" [class.mat-elevation-z8]="isActive" [class.animated-header]="!isActivefadeInDown" [class.fadeInDown]="!isActivefadeInDown" [class.navigation-fixed]="!fixedTolbar">
    <a class="logo" fxShow="false" fxShow.gt-xs="true" href="{{this.loggedIn ? 'main':''}}">
        <img src="assets/img/logo.png">
    </a>
    <ng-container *ngIf="this.loggedIn">
        <span class="navigation-spacer"></span>
        <mat-label  *ngIf="this.userType == 'instructor'" class="name">Welcome, Instructor {{username}}.</mat-label>
        <mat-label  *ngIf="this.userType == 'student'" class="name">Welcome, Student {{username}}.</mat-label>
        <span class="navigation-spacer"></span>
        <button mat-mini-fab class="icon" [matMenuTriggerFor]="menu">
            <mat-icon [inline]="true">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div id="header" fxLayout="column" >
                <mat-label id="typeHeader">{{userType}}</mat-label>
                <mat-label id="nameHeader">{{username}}</mat-label>
            </div>
            <div class="divider"></div>
            <button mat-menu-item  (click)="editProfile()">EDIT PROFILE</button>
            <button mat-menu-item  (click)="logout()">SIGN OUT</button>
        </mat-menu>
    </ng-container>

    <ng-container *ngIf="!this.loggedIn">
        <mat-nav-list class="navigation-list" fxLayout="row" fxShow="false" fxShow.gt-xs="true">
            <a mat-list-item href="#about">Features</a>
            <a mat-list-item href="#contact">Team</a>
        </mat-nav-list>
        <span class="navigation-spacer"></span>
        <mat-nav-list class="navigation-list" fxLayout="row" fxShow="false" fxShow.gt-xs="true">
            <a class="toolbar-button-left" mat-flat-button (click)="openRegisterDialog()">Sign up for free</a>
            <a class="toolbar-button-right" mat-stroked-button (click)="openLoginDialog()">Sign in</a>
        </mat-nav-list>
    </ng-container>

    <mat-toolbar-content nglp-scroll (onScroll)="detectScroll($event)"></mat-toolbar-content>
</mat-toolbar>

    

