#analytics
    margin-right: 100px
    margin-left: 100px

#analyticsTitle
    color: darkgray
    text-align: center
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif
    margin-bottom: 15px
    display: flex
    flex-direction: row
    margin-left: 50px
    margin-right: 50px
    margin-top: 20px


#timeline
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif
    background-color: rgba(255, 104, 90, 0.89)
    font-weight: 300
    font-size: 20px

#participants
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif
    background-color: #5ac5a7
    font-weight: 300
    font-size: 20px
    

#grid
    margin-left: 50px
    margin-right: 50px

body
    background-color: rgba(0,0,0,0.05)
    margin: 0 !important

#empty
    flex: 1 1 auto

#save
    font-size: 28px
    color: white

#saveButton
    margin-right: 51px
    align-items: center
    background-color: blue
    margin-bottom: 5px

#saveButton:hover
    background-color: darkblue