<body>
    <div class="container">
        <mat-card id="analytics">
            <mat-card-title id="analyticsTitle">Session Analytics</mat-card-title><hr>
            <div fxLayout="column" fxLayoutWrap="nowrap" fxLayoutGap="3%">
                <div fxFlex="30%">
                    <mat-card id="timeline"> 
                        <mat-card-title id="subtitle">Timeline</mat-card-title>
                    </mat-card>
                </div>
                <div fxFlex="70%">
                    <mat-card id="participantDetails"> 
                        <mat-card-title id="subtitle">Participant Details</mat-card-title>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
</body>