<link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">

<body>
    <mat-card id="analytics">
        <div  fxLayout="row" >
            <mat-card-title id="analyticsTitle">Your session has ended. Let's see how it went.</mat-card-title>
            <span id="empty"></span>
            <div id="editor"></div>
            <button id='saveButton' mat-fab (click)="captureScreen()">
                <i id="save" class="fas fa-download"></i>
            </button>
            <button id='homeButton' mat-fab (click)="goHome()">
                <i id="home" class="fas fa-home"></i>
            </button>
        </div>
        <mat-grid-list id="grid" [gutterSize]="'20px'" cols="1" rowHeight="4rem" >
            <mat-grid-tile  [rowspan]="6" class="mat-elevation-z4" >
                <mat-grid-tile-header id="timeline"> Timeline </mat-grid-tile-header>
                <app-timeline id="timeline1"></app-timeline>
            </mat-grid-tile>
            <mat-grid-tile id="participants1" [rowspan]="7.5" class="mat-elevation-z4" >
                <mat-grid-tile-header id="participants"> Participants Details</mat-grid-tile-header>
                <app-participant-table ></app-participant-table>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</body>  
